[submodule "rails-action-cable-chat"]
	path = rails-action-cable-chat
	url = https://github.com/SuzukiRyuichiro/rails-action-cable-chat.git
[submodule "from-design-to-code-prep"]
	path = from-design-to-code-prep
	url = https://github.com/SuzukiRyuichiro/from-design-to-code-prep.git
[submodule "rails-background-jobs-prep"]
	path = rails-background-jobs-prep
	url = https://github.com/SuzukiRyuichiro/rails-background-jobs-prep.git
[submodule "rails-db-advanced-prep"]
	path = rails-db-advanced-prep
	url = https://github.com/SuzukiRyuichiro/rails-db-advanced-prep.git
[submodule "bookstore-prep"]
	path = bookstore-prep
	url = https://github.com/SuzukiRyuichiro/bookstore-prep.git
[submodule "contribution-mailer"]
	path = contribution-mailer
	url = //github.com/SuzukiRyuichiro/rails-background-jobs.git
